---
import Layout from '../layouts/Layout.astro';

const pageTitle = 'About Me';

const identity = {
  firstName: 'Ben',
  country: 'Indianapolis',
  occupation: 'Developer',
  hobbies: ['reading science fiction', 'playing bass guitar', 'watching baseball'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Next.js', 'Astro'];

const skillColor = 'purple';
---

<Layout title="About Ben Goshow" description="This is a page about Ben Goshow">
  <h1>My name is Ben</h1>
  <p>I've been building websites since the dawn of this fair century.</p>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills include:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</Layout>
