---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./log/*.mdx');
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
const pageTitle = "Captain's Log"
const pageDescription = "Blog posts about working and learning in the front end web development industry"
---

<Layout title={pageTitle} description={pageDescription}>
  <main>
    <div>
      <h1>{pageTitle}</h1>
      <p>{pageDescription}</p>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} summary={post.frontmatter.description} />)}
    </div>
  </main>
</Layout>
